[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #000000;
    --color-bg-items: #f5f5f5;
    --color-text-title: #000000;
    --color-text-p: #2b2a2a;
    --box-shadow-bg: #838383;
    --color-button: #ffffff;
    --bg-color-button: #1a1a1a;
    --color-hover-button:   #1a1a1a;
    --bg-color-hover-button:    #ffffff;
    --bg-border-hover-button:   #1a1a1a;
}

[data-theme="dark"] {
    --color-bg: #222222;
    --color-fg: #ffffff;
    --color-bg-items: #2c2c2c;
    --color-text-title: #ffffff;
    --color-text-p: #e0e0e0;
    --box-shadow-bg: #000000;
    --color-button: #1a1a1a;
    --bg-color-button: #ffffff;
    --color-hover-button:   #ffffff;
    --bg-color-hover-button:    #1a1a1a;
    --bg-border-hover-button:   #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    overflow-x: hidden;
}

h1,
h2 {
    color: var(--color-text-title);
}

p {
    color: var(--color-text-p);
}

a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--color-text-p);
}

i{
    color: var(--color-text-p);
    padding: 10px;
}

.nav-logo {
    font-weight: bold;
    font-size: 30px;
    color: var(--color-text-title);
}

.nav-menu {
    display: block;
    color: var(--color-text-p);
    font-size: 20px;
    padding-left: 34px;
}

.nav-menu:hover {
    color: var(--color-text-title);
}

.nav-bg {
    background-color: var(--color-bg-items);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 15px var(--box-shadow-bg);
    margin-left: 120px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-top: 10px;
    left: 0%;
    width: 200px;
}

.scroll-padding {
    margin-top: 25vh;
}

.margin-bottom-300px {
    margin-bottom: 300px;
}

.margin-bottom-150px {
    margin-bottom: 150px;
}

.intro-title {
    font-size: 50px;
}

.intro-subtitle {
    font-size: 25px;
}

.section-title {
    font-size: 50px;
    margin-bottom: 6rem;
    margin-top: 2.5rem;
}

.profile-img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.project-img {
    width: 100%;
    border-radius: 20px;
}

.top-wave {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);

}


.top-wave svg {
    position: relative;
    display: block;
    width: 100%;
    height: 81px;

}


.top-wave .shape-fill {
    fill: var(--color-bg-items);
}

.bottom-wave {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    line-height: 0;
}

.bottom-wave svg {
    position: relative;
    display: block;
    width: 100%;
    height: 81px;
}

.bottom-wave .shape-fill {
    fill: var(--color-bg-items);
}

.footer-wave {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.footer-wave svg {
    position: relative;
    display: block;
    width: 100%;
    height: 81px;
    transform: rotateY(180deg);
}

.footer-wave .shape-fill {
    fill: var(--color-bg-items);
}

.section-about {
    background-color: var(--color-bg-items);
}

.icons {
    fill: var(--color-bg-items);
    width: 80px;
}

.icons:hover {
    transition: 0.3s;
    scale: 1.1;
}

.about-icons {
    width: 40px;
}

.footer-text {
    background-color: var(--color-bg-items);
    padding-bottom: 20px;
    margin-bottom: 0;
}

.btn-viewcode {
    color: var(--color-button);
    background-color: var(--bg-color-button);
    border-color: #1a1a1a;
    border-radius: 20px;
    padding: 5px 10px;
}

.btn-viewcode:hover {
    color: var(--color-hover-button);
    background-color: var(--bg-color-hover-button);
    border-color: var(--bg-border-hover-button);
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101.1%;
    object-fit: cover;
    z-index: -1;
}

#navbar, .profile-img, .intro-title, .intro-subtitle {
    position: relative;
    z-index: 2;
}

#aboutme {
    margin-top: 50.1vh;
}

.skills-list {
    text-align: left;
    font-size: 18px;
    list-style-type: none;
}

.skills-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skills-list i {
    font-size: 40px;
    margin-right: 10px;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--bg-color-hover-button);
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 100;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}

#back-to-top:hover {
    transform: scale(1.1);
}

.contact-card {
    background-color: var(--color-bg-items);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.2);
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 20px;
}

.contact-link svg {
    width: 60px;
    height: 60px;
    fill: var(--color-fg);
    transition: transform 0.3s ease, fill 0.3s ease;
}

.contact-link:hover svg {
    fill: var(--bg-color-hover-button);
    transform: scale(1.1);
}

.contact-card h2 {
    color: var(--color-text-title);
}

.contact-link {
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.contact-link:hover {
    transform: scale(1.1);
}

